body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  color: var(--con-8);
  background-color: var(--con-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}

::-moz-focus-inner {
  border: 0;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: inherit;
}

img {
  width: 100%;
}

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
ol,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

// Code

pre {
  margin-top: 12px;
  margin-bottom: 12px;
}

.vscode-highlight {
  border-radius: 0 !important;
  @media screen and (min-width: 768px) {
    border-radius: 4px !important;
  }
}

.solarized-light {
  background-color: #fef9ec !important;
  @media screen and (min-width: 768px) {
    box-shadow: inset 0 0 0 1px #fdf1d3;
  }
}

@media (prefers-color-scheme: dark) {
  .pd--dark-default-dark {
    background-color: #0f0f0f !important;
    @media screen and (min-width: 768px) {
      box-shadow: inset 0 0 0 1px hsla(0, 0%, 5%, 1);
    }
  }
}

.tmp {
  padding: 22px;
  border-left: 2px solid #F44336;
  font-style: italic;
  background-color: hsla(0, 0%, 97%, 1);
  border-radius: 4px;
  margin-bottom: 24px;
  color: #F44336;
}
