@for $i from 0 through 10 {
  // margin

  .m#{$i} {
    margin: var(--s-#{$i});
  }
  .mAuto#{$i} {
    margin: auto;
  }

  // margin-top

  .mt#{$i} {
    margin-top: var(--s-#{$i});
  }
  .mtAuto#{$i} {
    margin-top: auto;
  }

  // margin-bottom

  .mb#{$i} {
    margin-bottom: var(--s-#{$i});
  }
  .mbAuto#{$i} {
    margin-bottom: auto;
  }

  @media only screen and (min-width: 1024px) {
    .lg_mb#{$i} {
      margin-bottom: var(--s-#{$i}) !important;
    }
  }

  // margin-right

  .mr#{$i} {
    margin-right: var(--s-#{$i});
  }
  .mrAuto#{$i} {
    margin-right: auto;
  }

  // margin-left

  .ml#{$i} {
    margin-left: var(--s-#{$i});
  }
  .mlAuto#{$i} {
    margin-left: auto;
  }
}
