.flex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexColumn {
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .lg_flexColumnReverse {
    flex-direction: column-reverse !important;
  }
}

.absolute {
  position: absolute;
}

.top0 {
  top: 0;
}

.right0 {
  right: 0;
}

.bottom0 {
  bottom: 0;
}

.left0 {
  left: 0;
}

.scrollY {
  overflow-y: scroll;
}