.vscode-highlight {
  border-radius: 0 !important;
  @media screen and (min-width: 768px) {
    border-radius: 4px !important;
  }
}

.monokai {
  background-color: #0d0d0d !important;
}

.monokai .mtk3 {
  color: #00d600 !important;
}

.vscode-highlight-line {
  color: #00d600;
}

strong {
  color: var(--strong);
}

