.vscode-highlight {
  border-radius: 0 !important;
  @media screen and (min-width: 768px) {
    border-radius: 4px !important;
  }
}

.monokai {
  background-color: #0d0d0d !important;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.monokai .mtk3 {
  color: #00d600 !important;
}

.vscode-highlight-line {
  color: #00d600;
}

//strong {
//  color: var(--strong);
//  font-weight: 400;
//}

strong {
  color: #a21041;
  font-weight: 400;
  background-color: #fef1f5;
  padding: 1px 6px 3px;
  border-radius: 4px;
  box-decoration-break: clone;
}

blockquote p {
  padding: 0 !important;
}

pre {
  + h2,
  + h3 {
    margin-top: 48px !important;
  }
}
